replicaCount: 2

image:
  repository: ghcr.io/uthayakumarrakav/cuegrowth-worker
  tag: db766659fbea025d619d751fe758df255891818e
  pullPolicy: IfNotPresent

service:
  port: 8001

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"
