replicaCount: 2

image:
  repository: ghcr.io/uthayakumarrakav/cuegrowth-api
  tag: db766659fbea025d619d751fe758df255891818e
  pullPolicy: IfNotPresent

service:
  port: 8000

ingress:
  enabled: true
  host: api.local

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"
