apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "worker.fullname" . }}
  namespace: cuegrowth
spec:
  minAvailable: 1
  selector:
    matchLabels:
      {{- include "worker.selectorLabels" . | nindent 6 }}
